<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главная: Таблицы</title>
    <script src="/table.js"></script>
    <link rel="stylesheet" href="/main.css">
    <style>
        /* Add your custom styles for green and red backgrounds here */
        .positive-change { background-color: #006900; color: white; }
        .negative-change { background-color: #810000; color: white; }
    </style>
</head>
<body>
<header>
    <p>Процент <input type="number" id="thresholdInput" onkeydown="handleKeyPress(event)"></p>
</header>
<div id="container">
    <table>
        <thead>
        <tr>
            <th>Тикер</th>
            <th>Название</th>
            <th>Последняя дата</th>
            <th><a href="#" onclick="sortTable(3)">Цена закрытия, руб</a></th>
            <th><a href="#" onclick="sortTable(4)">Изменение акции за 16 дней, %</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${tableData}" th:class="${row.change14d >= threshold ? 'positive-change' : 'negative-change'}">
            <td th:text="${row.ticker}"></td>
            <td th:text="${row.name}"></td>
            <td th:text="${row.date}"></td>
            <td th:text="${row.close}"></td>
            <td th:text="${row.change14d}" class="percentage-change"></td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function handleKeyPress(event) {
        if (event.key === 'Enter') {
            updateRowStyles();
        }
    }

    function updateRowStyles() {
        var threshold = parseFloat(document.getElementById('thresholdInput').value);
        var rows = document.querySelectorAll('tbody tr');

        rows.forEach(function (row) {
            var percentageChange = parseFloat(row.querySelector('.percentage-change').textContent);
            var newClass = (percentageChange >= threshold) ? 'positive-change' : 'negative-change';

            row.className = newClass;
        });
    }
</script>
</body>
</html>
